$violet: hsl(263, 55%, 52%);
$grayishBlue: hsl(217, 19%, 35%);
$blackishBlue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$lightGray: hsl(0, 0%, 81%);
$lightBlue: hsl(210, 46%, 95%);

$font: 'Barlow Semi Condensed', sans-serif;
$fontSize: 13px;
$fontNormal: 500;
$fontBold: 600;

@import 'globals'