:root {
    --font-Inter: 'Inter', sans-serif;
    --font-Lexend: 'Lexend Deca', sans-serif;
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-Inter);
    background-color: var(--very-dark-blue);
    color: var(--white);
}

.card {
    display: grid;
    grid-template-rows: auto auto;
    background-color: var(--dark-desaturated-blue);
    width: 80%;
    max-width: 1000px;
    margin: 5rem auto;
    border-radius: 10px;
}

.card > .img-wrapper-mobile {
    display: block;
    border-radius: 10px 10px 0 0;
    background-color: var(--soft-violet);
}

.card > .img-wrapper-mobile > .header-mobile {
    display: block;
    opacity: 0.5;
    border-radius: 10px 10px 0 0;
    max-width: 100%;
}

.card > .img-wrapper-desktop {
    display: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--soft-violet);
}

.card > .img-wrapper-desktop > .header-desktop {
    display: none;
    opacity: 0.5;
    border-radius: 0 10px 10px 0;
    max-width: 100%;
}

.card > .text-wrapper {
    padding: 2rem;
    text-align: center;
}

.card > .text-wrapper > .title {
    margin: 0;
}

.card > .text-wrapper > .para {
    color: var(--slightly-transparent-white);
    margin: 2rem 0 3rem 0;
    line-height: 1.5;
}

.card > .text-wrapper > .stat-wrapper {
    display: block;
}

.card > .text-wrapper > .stat-wrapper > .stat:not(:last-child) {
    margin: 0 0 2rem 0;
}

.card > .text-wrapper > .stat-wrapper > .stat > .stat-number {
    margin: 0;
}

.card > .text-wrapper > .stat-wrapper > .stat > .stat-descrip {
    color: var(--slightly-transparent-white-2);
    text-transform: uppercase;
    font-size: 0.8em;
}

.attribution {
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-size: 0.8em;
    opacity: 0.85;
}

.attribution > a {
    color: var(--soft-violet);
    text-decoration: none;
    opacity: 0.85;
}

.attribution > a:hover {
    text-decoration: underline;
    opacity: 1;
}

.highlight {
    color: var(--soft-violet);
}

@media only screen and (min-device-width: 768px) {
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        transform: translateY(-50px);
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }

    .card > .text-wrapper {
        padding: 3rem 5rem 3rem 3rem;
        text-align: start;
    }

    .card > .img-wrapper-mobile {
        display: none;
    }

    .card > .img-wrapper-mobile > .header-mobile {
        display: none;
    }

    .card > .img-wrapper-desktop {
        display: block;
    }

    .card > .img-wrapper-desktop > .header-desktop {
        display: block;
    }

    .card > .text-wrapper > .stat-wrapper {
        display: flex;
    }

    .card > .text-wrapper > .stat-wrapper > .stat:not(:last-child) {
        margin: 0 2rem 0 0;
    }

    .attribution {
        position: absolute;
        padding: 0;
        bottom: 2rem;
    }
}