:root {
    --font-Inter: 'Inter', sans-serif;
    --font-Lexend: 'Lexend Deca', sans-serif;
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-Inter);
    background-color: var(--very-dark-blue);
    color: var(--white);
}