.card {
    position: relative;
    background-color: white;
    box-shadow: 8px 15px 15px rgba(black, 0.2);
    border-radius: 25px;
    width: 85%;
    max-width: 800px;
    height: auto;
    margin: 1rem auto;
    padding: 2rem;

    &__heading {
        margin-top: 6rem;
        text-align: center;

        .mobile-visual {
            
            .woman, .pattern {
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                max-width: 250px;
            }

            .woman {
                top: -100px;
                transform: translateX(-15px);
            }

            .pattern {
                top: 0;
            }
        }

        .desktop-visual {
            display: none;
        }
    }

    &__questions-wrapper {

        .question-wrapper {

            .q {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .a {
                transition: all .2s ease-out;
                max-height: 0;
                opacity: 0;
            }
        }
    }
}

.box {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .card {
        overflow: hidden;
        max-width: 1000px;
        padding: 2rem 5rem 5rem 35rem;
        transform: translateY(10vh);

        &__heading {
            margin-top: 0;
            text-align: start;
    
            .mobile-visual {
                display: none;
            }

            .desktop-visual {
                display: block;

                .woman {
                    z-index: 10;
                    max-width: 400px;
                    position: absolute;
                    bottom: 50px;
                    left: -50px;
                }

                .pattern {
                    z-index: 5;
                    position: absolute;
                    bottom: -220px;
                    left: -620px;
                }
            }
        }

        &__questions-wrapper {
            min-width: 300px;
            max-width: 300px;
        }
    }
    
    .box {
        z-index: 25;
        display: block;
        position: relative;
        top: -220px;
        left: -480px;
    }
}