html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient($softViolet, $softBlue);
    font-family: $font;
    font-size: $fontSize;
    font-weight: $fontMid;
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.hover {
    transition: color .1s ease-out;
    cursor: pointer;
    outline: hidden;
    &:hover {
        color: $softRed;
    }
}

.active {
    font-weight: $fontBold;
}

.a {
    &.show {
        max-height: 50px !important;
        opacity: 1 !important;
    }
}

hr {
    border: .5px solid $lightGBlue;
    margin: 0;
    padding: 0;
    pointer-events: none;
    cursor: none;
}

footer {
    position: absolute;
    bottom: 25px;

    a {
        color: $softRed;
        text-decoration: none;
        opacity: 0.8;
        &:hover {
            text-decoration: underline;
            opacity: 1;
        }
    }
}