$veryDarkDBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);
$veryDarkGBlue: hsl(237, 12%, 33%);
$darkGBlue: hsl(240, 6%, 50%);
$lightGBlue: hsl(240, 5%, 91%);

$font: 'Kumbh Sans', sans-serif;
$fontSize: 12px;
$fontMid: 400;
$fontBold: 700;

@import "globals";
@import "card";