html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: $violet;
    color: white;
    font-family: $font1;
    line-height: 1.5;
}

header {
    padding: 2rem;

    .logo {
        width: 150px;
    }
}

main {
    z-index: 5;
    padding: 2rem;
}

.text {
    padding: 1rem 0;
    text-align: center;

    h1 {
        font-family: $font2;
        font-size: 1.5em;
    }
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    i {
        margin: 0 .5rem;
        cursor: pointer;
        transition: all .2s ease-out;
    
        &:hover {
            color: $softMagenta;
        }
    }

    .attribution {
        font-size: .8em;
    }
}

.bg-mobile {
    display: block;
    position: absolute;
    top: 0;
    z-index: -5;
}

.bg-desktop {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -5;
}

.responsive {
    max-width: 100%;
    height: auto;
}

a {
    color: $softMagenta;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.btn {
    background-color: white;
    box-shadow: 4px 4px 4px rgba(black, 0.2);
    color: $violet;
    border: none;
    border-radius: 25px;
    font-family: inherit;
    font-size: inherit;
    padding: .8rem 5rem;
    margin: 1rem;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-out;

    &:hover {
        background-color: $softMagenta;
        color: white;
    }
}

@media only screen and (min-width: 768px) {
    body {
        overflow: hidden;
    }

    main {
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        align-content: center;
        transform: translateY(-80px);
        grid-template-columns: 1fr 1fr;
        padding: 2.5rem 4rem;
    }

    footer {
        position: absolute;
        right: 0;
        padding: 2rem 4rem;

        i {
            font-size: 1.5em;
        }
    }

    .text {
        text-align: start;
        max-width: 500px;

        h1 {
            font-size: 2.5em;
        }
    }

    .btn {
        margin: .5rem 0;
    }

    .bg-mobile {
        display: none;
    }

    .bg-desktop {
        display: block;
    }
}