$violet: hsl(257, 40%, 49%);
$softMagenta: hsl(300, 69%, 71%);

$font1: 'Open Sans', sans-serif;
$font2: 'Poppins', sans-serif;

$fontMid: 400;
$fontBold: 600;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import 'globals';